# Empower and CVI ICPE abstract analysis

In [1]:
#Loading the data 

import pandas as pd
import numpy as np
from siuba import * 
# from plotnine import *  #ggplot
import os
import sys

# https://empowerprogram.hhs.gov/about-empowermap.html
# loading in county data for 2019 through 2021 for empower 
empower2018_county=pd.read_excel("./dat/2018_HHSemPOWERMapHistoricalDataset.xlsx", sheet_name="County")
empower2019_county=pd.read_excel("./dat/2019_HHSemPOWERMapHistoricalDataset.xlsx", sheet_name="County") 
empower2020_county=pd.read_excel("./dat/2020_HHSemPOWERMapHistoricalDataset.xlsx", sheet_name="County")
empower2021_county=pd.read_excel("./dat/2021_HHSemPOWERMapHistoricalDataset.xlsx", sheet_name="County")
empower2022_county=pd.read_excel("./dat/2022_HHSemPOWERMapHistoricalDataset.xlsx", sheet_name="County")
empower_nc = empower2022_county>>filter(_, _.State.str.contains("NC"))

# TOX PI SCORES 
# https://github.com/ToxPi/toxpiR/tree/main
# https://github.com/wachiuphd/CVI
# Getting the baseline combined 
cvi_bl= pd.read_csv("./CVI/CVI-county-pct/CVI-county-pct-comb-baseline.csv")
cvi_bl.columns= cvi_bl.columns.str.replace('[. ]', "_", regex=True)
cvi_blnc=(cvi_bl>>filter(_.Name.str.contains("NC"))
>>rename(CVI_baseline_score=_.ToxPi_Score))

# Getting Climate combined 
cvi_cc= pd.read_csv( "./CVI/CVI-county-pct/CVI-county-pct-comb-climate.csv")
cvi_cc.columns= cvi_cc.columns.str.replace('[. ]', '_', regex=True)
cvi_ccnc = (cvi_cc>>filter(_.Name.str.contains("NC"))
>>rename(CVI_climate_score=_.ToxPi_Score))
# CVI for just the extreme events 
cvi_extreme_events=pd.read_csv("./CVI/CVI-county-pct/CVI-county-pct-cat-CC-Extreme Events.csv")
cvi_nc_ee = cvi_extreme_events>>filter(_.Name.str.contains("NC"))

# Overall CVI for everything combined 
cvi_all = pd.read_csv("./CVI/CVI-county-pct/CVI-county-pct-comb.csv")
cvi_all.columns= cvi_all.columns.str.replace('[. ]', '_', regex=True)
cvi_allnc = (cvi_all>>filter(_.Name.str.contains("NC")) 
            >>rename(CVI_overall_score=_.ToxPi_Score))

In [ ]:
# Merging datasets into one for analysis

## Understanding the data structures 

1. For the CVI, we are focusing on the climate change risks that directly impact communities. These extreme events are: 
   - Temperature
   - Flooding
   - Precipitation
   - Storms
   - Wildfires
   - Droughts

See guide on data wrangling https://siuba.org/guide/wrangle-joins.html

In [ ]:
# DRAFT LEFT JOIN CODE  
# empower_nc.columns

nc2022_ee=cvi_nc_ee>>left_join(_, empower_nc, {"FIPS":"FIPS_Code"})
nc2022_ee.describe()
nc2022_ee.set_index('FIPS_Code', inplace=True)

# tmp = nc2022_ee>>mutate(county= _.Name.str.split(expand=True)[1])

nc2022_ee.Name.str.split(expand=True)

# Getting the attributes and methods associated with nc2022_ee
print([m for m in dir(nc2022_ee) if not m.startswith("__")])
# print(dir(nc2022_ee)) 


# Sorting data by CVI score 
# Sorting data by CVI score 
nc2022_ee>>select(_.County, _.FIPS, _.Temperature, _.Droughts, _.Wildfires, _.Precipitation, _.Flooding, _.Storms, _.January_2022_Medicare_Benes)>>arrange(-_.Temperature)>>_.head(10)
nc2022_ee>>select(_.County, _.FIPS, _.Temperature, _.Droughts, _.Wildfires, _.Precipitation, _.Flooding, _.Storms, _.January_2022_Medicare_Benes)>>arrange(-_.Flooding)>>_.head(10)
nc2022_ee>>select(_.County, _.FIPS, _.Temperature, _.Droughts, _.Wildfires, _.Precipitation, _.Flooding, _.Storms, _.January_2022_Medicare_Benes)>>arrange(-_.Storms)>>_.head(10)
nc2022_ee>>select(_.County, _.FIPS, _.Temperature, _.Droughts, _.Wildfires, _.Precipitation, _.Flooding, _.Storms, _.January_2022_Medicare_Benes)>>arrange(-_.Precipitation)>>_.head(10)
nc2022_ee>>select(_.County, _.FIPS, _.Temperature, _.Droughts, _.Wildfires, _.Precipitation, _.Flooding, _.Storms, _.January_2022_Medicare_Benes)>>arrange(-_.January_2022_Medicare_Benes)>>_.head(10)
# (nc2022_ee>>select(_.County, _.FIPS, _.Temperature, _.Droughts, _.Wildfires, _.Precipitation, _.Flooding, _.Storms, _.January_2022_Medicare_Benes)>>arrange(-_.Temperature)>>_.head(10)).to_csv("top10_temp.csv")

(nc2022_ee
    >> mutate(January_DME_proportion=_.January_2022_Power_Dependent_Devices_DME/_.January_2022_Medicare_Benes)
    >> select(_.County, _.FIPS, _.Temperature, _.Droughts, _.Wildfires, _.Precipitation, _.Flooding, _.Storms, _.January_2022_Medicare_Benes, _.January_2022_Power_Dependent_Devices_DME, _.January_DME_proportion)
    #>> filter(_.County.str.contains("Robeson"))
    >> arrange(-_.January_DME_proportion)
    >> _.head(10)
)

In [51]:
# Getting the baseline combined 
cvi_bl= pd.read_csv("./CVI/CVI-county-pct/CVI-county-pct-comb-baseline.csv")
cvi_bl.columns= cvi_bl.columns.str.replace('[. ]', "_", regex=True)
cvi_bl.columns
cvi_blnc=cvi_bl>>filter(_.Name.str.contains("NC"))
(cvi_blnc>>arrange(-_.ToxPi_Score))>>_.head(10)
(cvi_blnc>>arrange(-_.Baseline_SocialEconomic))>>_.head(10)
(cvi_blnc>>arrange(-_.Baseline_Health))>>_.head(10)
(cvi_blnc>>arrange(-_.Baseline_Infrastructure))>>_.head(10)
(cvi_blnc>>arrange(-_.Baseline_Environment))>>_.head(10)
cvi_blnc=(cvi_bl>>filter(_.Name.str.contains("NC"))
>>rename(CVI_baseline_score=_.ToxPi_Score))
cvi_blnc.columns

,row#,Name,FIPS,Source,ToxPi_Score,Baseline_Health,Baseline_SocialEconomic,Baseline_Infrastructure,Baseline_Environment
1967,1968,"NC, Robeson",37155,"+34.6392096,-079.1008811",0.767540,0.895961,0.769296,0.829176,0.575726
1972,1973,"NC, Scotland",37165,"+34.8400226,-079.4773366",0.764246,0.826554,0.885464,0.738502,0.606464
1966,1967,"NC, Richmond",37153,"+35.0019574,-079.7478094",0.725785,0.813240,0.774070,0.756829,0.558999
1931,1932,"NC, Halifax",37083,"+36.2514376,-077.6448423",0.719222,0.847080,0.815518,0.701087,0.513204
1893,1894,"NC, Anson",37007,"+34.9749961,-080.1099594",0.711657,0.788223,0.680009,0.756040,0.622354
1922,1923,"NC, Edgecombe",37065,"+35.9170554,-077.6026551",0.694696,0.796622,0.793602,0.778534,0.410025
1943,1944,"NC, Lenoir",37107,"+35.2380617,-077.6390233",0.690024,0.818304,0.836712,0.622044,0.483036
1913,1914,"NC, Columbus",37047,"+34.2604711,-078.6363776",0.687139,0.825180,0.788055,0.671138,0.464183
1912,1913,"NC, Cleveland",37045,"+35.3346302,-081.5571145",0.687077,0.727378,0.637406,0.720759,0.662765
1898,1899,"NC, Bladen",37017,"+34.5919485,-078.5395125",0.683480,0.778051,0.828761,0.750066,0.377041

In [57]:
# Getting Climate combined 
cvi_cc= pd.read_csv( "./CVI/CVI-county-pct/CVI-county-pct-comb-climate.csv")
cvi_cc.columns= cvi_cc.columns.str.replace('[. ]', '_', regex=True)
cvi_ccnc = cvi_cc>>filter(_.Name.str.contains("NC"))
(cvi_ccnc>>arrange(-_.ClimateChange_ExtremeEvents))>>_.head(10)
(cvi_ccnc>>arrange(-_.ToxPi_Score))>>_.head(10)
# (cvi_ccnc>>arrange(-_.ToxPi_Score)
#     >>filter(_.Name.str.contains("Robeson")))

cvi_ccnc = (cvi_cc>>filter(_.Name.str.contains("NC"))
>>rename(CVI_climate_score=_.ToxPi_Score))

cvi_ccnc.columns
cvi_ccnc.head()

,row#,Name,FIPS,Source,CVI_climate_score,ClimateChange_Health,ClimateChange_SocialEconomic,ClimateChange_ExtremeEvents
1890,1891,"NC, Alamance",37001,"+36.0419739,-079.3999353",0.519006,0.807331,0.409614,0.340073
1891,1892,"NC, Alexander",37003,"+35.9209506,-081.1774668",0.573600,0.689689,0.670931,0.360179
1892,1893,"NC, Alleghany",37005,"+36.4893563,-081.1322988",0.589798,0.721755,0.494758,0.552883
1893,1894,"NC, Anson",37007,"+34.9749961,-080.1099594",0.600868,0.831048,0.666560,0.304995
1894,1895,"NC, Ashe",37009,"+36.4363053,-081.4987699",0.598443,0.687504,0.448902,0.658923

In [43]:
cvi_all = pd.read_csv("./CVI/CVI-county-pct/CVI-county-pct-comb.csv")
dir(cvi_all)
cvi_all.columns= cvi_all.columns.str.replace('[. ]', '_', regex=True)
dir(cvi_all)
cvi_allnc = cvi_all>>filter(_.Name.str.contains("NC"))
cvi_allnc>>arrange(-_.Baseline_Infrastructure, -_.Baseline_Health)>>_.head(10)
cvi_allnc>>arrange(-_.ClimateChange_Health)>>_.head(10)
cvi_allnc>>arrange(-_.ClimateChange_SocialEconomic)>>_.head(10)
cvi_allnc>>arrange(-_.ToxPi_Score)>>_.head(10)

cvi_allnc = (cvi_all>>filter(_.Name.str.contains("NC")) 
            >>rename(CVI_overall_score=_.ToxPi_Score))
cvi_allnc.columns

,row#,Name,FIPS,Source,ToxPi_Score,Baseline_Health,Baseline_SocialEconomic,Baseline_Infrastructure,Baseline_Environment,ClimateChange_Health,ClimateChange_SocialEconomic,ClimateChange_ExtremeEvents
1972,1973,"NC, Scotland",37165,"+34.8400226,-079.4773366",0.684240,0.826554,0.885464,0.738502,0.606464,0.817759,0.686048,0.228888
1967,1968,"NC, Robeson",37155,"+34.6392096,-079.1008811",0.669403,0.895961,0.769296,0.829176,0.575726,0.795568,0.596224,0.223870
1931,1932,"NC, Halifax",37083,"+36.2514376,-077.6448423",0.664229,0.847080,0.815518,0.701087,0.513204,0.806187,0.535776,0.430752
1893,1894,"NC, Anson",37007,"+34.9749961,-080.1099594",0.664176,0.788223,0.680009,0.756040,0.622354,0.831048,0.666560,0.304995
1898,1899,"NC, Bladen",37017,"+34.5919485,-078.5395125",0.659026,0.778051,0.828761,0.750066,0.377041,0.739296,0.787114,0.352855
1966,1967,"NC, Richmond",37153,"+35.0019574,-079.7478094",0.652215,0.813240,0.774070,0.756829,0.558999,0.792232,0.626652,0.243485
1897,1898,"NC, Bertie",37015,"+36.0613302,-076.9623670",0.650235,0.710433,0.742936,0.723674,0.432412,0.701088,0.737094,0.504010
1971,1972,"NC, Sampson",37163,"+34.9905745,-078.3713822",0.639837,0.753952,0.814295,0.678326,0.459482,0.748427,0.654708,0.369666
1955,1956,"NC, Northampton",37131,"+36.4217739,-077.3983518",0.636029,0.822344,0.795329,0.622289,0.420747,0.773630,0.589239,0.428623
1983,1984,"NC, Washington",37187,"+35.8445891,-076.5723342",0.635996,0.752026,0.675675,0.779071,0.364421,0.699484,0.793158,0.388134

In [62]:
# https://empowerprogram.hhs.gov/about-empowermap.html

### Testing calculations--for normalized column data

In [59]:
0.2969916+  0.7422759+            0.6314711+            0.8042630             +       0.5342240 +0.5295359            +   0.4560483
3.9948097999999996/7

0.5706871142857143

In [61]:
(0.4225221-0.2915693) /(0.7325002-0.2915693)

0.2969916601444807